<div class="row">
  <div class="col-4">
    <div class="card card-body">
      <div class="card-title">Usuarios</div>
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td><img [src]="usuario.img | imagen" class="img-50 img-circle"></td>
            <td>{{ usuario.nombre }}</td>
            <td>
              <button routerLink="/usuarios" class="btn btn-primary">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-4">
    <div class="card card-body">
      <div class="card-title">Hospitales</div>
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let hospital of hospitales">
            <td><img [src]="hospital.img | imagen:'hospital'" class="img-50 img-circle"></td>
            <td>{{ hospital.nombre }}</td>
            <td>
              <button routerLink="/hospitales" class="btn btn-primary">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-4">
    <div class="card card-body">
      <div class="card-title">Médicos</div>
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let medico of medicos">
            <td><img [src]="medico.img | imagen:'medico'" class="img-50 img-circle"></td>
            <td>{{ medico.nombre }}</td>
            <td>
              <button [routerLink]="[ '/medico', medico._id ]" class="btn btn-primary">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
